div.side-nav{
  border: 1px black solid;

  width: 20%;
}
div.content{
  padding: 5px;
  min-width: 70%;
  border: 1px black solid;
  height:70vh;
  width: 80%;
  overflow: auto;
}

.top-container {
  padding: 1rem;

}
.img {
  width: 100%;
  margin-bottom: 18%;
}
.card-picture {
  width: 60%;
  margin-bottom: 2%;
}
.card-picture span{
  font-size: 11px;

}
div.cardContainer{
  width: 15%;
  height: 20%;
}