div.side-nav{
  border: 1px black solid;

  width: 20%;
}
div.content{
  padding: 5px;
  min-width: 70%;
  border: 1px black solid;
  height:70vh;
  width: 80%;
}
.top-container {
  padding: 1rem;

}
div.canasta{
  overflow: auto;
}