<div fxLayout="column" fxFill>
        <mat-toolbar color="accent" style="min-height: 55px !important; height: 55px !important;">
                <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center" fxFlexOffset="3">
                        <div>
                            <h1>NUEVA MISION</h1>
                        </div>
                        <div>
                            <button mat-raised-button (click)="add()" color="primary" ><mat-icon matPrefix>add</mat-icon>ASIGNAR</button>
                        </div>
                    </mat-toolbar-row>
        </mat-toolbar>
        <div>
            <mat-tab-group mat-align-tabs="center" mat-stretch-tabs  >
                <mat-tab label="GENERAL" >  <app-add-mision-general #general></app-add-mision-general></mat-tab>
                <mat-tab label="ARTICULOS" > <app-add-mision-articles #articles></app-add-mision-articles></mat-tab>
            </mat-tab-group>
        </div>
</div>