
.fieldgroup{
    border-radius: 20px;
    border-color: rgba(236, 236, 236, 0.589)
}
.dialog-container{
    overflow: hidden;
   margin: 0;
   padding: 0;
}
.canasta{
    padding-top: 5%;
    overflow: hidden;
}
.square {
    display: block;
    float: left;
    border: black dashed 1px;
    height: 30%;
    width: 30%;
    overflow: hidden;
}
.mat-tab-label {
    height: 37px;
}