<div fxLayout="column" fxFill>
        <mat-toolbar color="accent">
                <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center" fxFlexOffset="3">
                        <div>
                            <h1>MISIONES</h1>
                        </div>
                        <div>
                            <button mat-raised-button	 color="primary" ><mat-icon matPrefix>add</mat-icon>&nbsp;MISION</button>
                        </div>
                    </mat-toolbar-row>
        </mat-toolbar>
    <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="20px" class="top-container">
        <!-- <mat-form-field fxFelx>
            <input type="text" matInput placeholder="Buscar mision" (upKey)="buscar()">
        </mat-form-field> -->
        <mat-form-field fxFlex appearance="outline">
            <mat-label>Fecha de inicio</mat-label>
            <input matInput [matDatepicker]="picker1" placeholder="Elige una fecha de inicio">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field fxFlex appearance="outline">
            <mat-label>Fecha de finalización</mat-label>
            <input matInput [matDatepicker]="picker" placeholder="Elige una fecha de fin">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field fxFlex appearance="outline">
            <mat-label>Competidor</mat-label>
            <input type="text" matInput placeholder="Competidor">
        </mat-form-field>
        <mat-form-field fxFlex appearance="outline">
                <mat-label>Estado</mat-label>
                <input type="text" matInput placeholder="Estado">
        </mat-form-field>
        <div>   
            <span>
                <button class="icons" mat-icon-button color="primary" (click)="newMission()" ><mat-icon matPrefix>add_circle</mat-icon></button>
                <button class="icons" mat-icon-button color="primary" (click)="newMission()" ><mat-icon matPrefix>search</mat-icon></button>
            </span>
        </div>
    </div>
    <mat-progress-bar *ngIf="algo==true"></mat-progress-bar>
    <div class="content-table">
        <table mat-table [dataSource]="dataSource"multiTemplateDataRows
        class="mat-elevation-z8">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef ><span fxLayoutAlign="center">ID</span></th>
                <td mat-cell *matCellDef="let element"><span fxLayoutAlign="center">{{element.id}}</span></td>
            </ng-container>

            <ng-container matColumnDef="date_start">
                <th mat-header-cell *matHeaderCellDef><span fxLayoutAlign="center">FECHA INICIAL</span></th>
                <td mat-cell *matCellDef="let element"><span fxLayoutAlign="center">{{element.date_start}}</span></td>
            </ng-container>

            <ng-container matColumnDef="date_end">
                <th mat-header-cell *matHeaderCellDef><span fxLayoutAlign="center">FECHA FINAL</span></th>
                <td mat-cell *matCellDef="let element"><span fxLayoutAlign="center">{{element.date_end}}</span></td>
            </ng-container>
            
            <ng-container matColumnDef="competitor">
                <th mat-header-cell *matHeaderCellDef><span fxLayoutAlign="center">COCMPETIDOR</span></th>
                <td mat-cell *matCellDef="let element"><span fxLayoutAlign="center">{{element.competitor}}</span></td>
            </ng-container>
            
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef><span fxLayoutAlign="center">STATUS</span></th>
                <td mat-cell *matCellDef="let element" [ngSwitch]="element.status">
                    <span class="status" *ngSwitchCase="1" fxLayoutAlign="center" style="background: rgb(238, 170, 122)">EN PROCESO</span>
                    <span class="status" *ngSwitchCase="2" fxLayoutAlign="center" style="background: rgb(101, 201, 222)">ASIGNADA</span>
                    <span class="status" *ngSwitchCase="3" fxLayoutAlign="center" style="background: rgba(94, 184, 94, 0.849)">TERMINADA</span>
                    <span class="status" *ngSwitchCase="4" fxLayoutAlign="center" style="background:#d50000">BLOQUEADA</span>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="progression">
                <th mat-header-cell *matHeaderCellDef><span fxLayoutAlign="center">AVANCE</span></th>
                <td mat-cell *matCellDef="let element"><span fxLayoutAlign="center">{{element.progression}}</span></td>
            </ng-container>

            <ng-container matColumnDef="captain">
                <th mat-header-cell *matHeaderCellDef><span fxLayoutAlign="center">CAPITAN</span></th>
                <td mat-cell *matCellDef="let element"><span fxLayoutAlign="center">{{element.captain}}</span></td>
            </ng-container>

            <ng-container matColumnDef="options">
                <th mat-header-cell *matHeaderCellDef><span fxLayoutAlign="center">OPCIONES</span></th>
                <td mat-cell *matCellDef="let element">
                        <span fxLayoutAlign="center">
                                <button mat-icon-button class="icons" (mouseenter) ="mouseEnter()" (mouseleave)="mouseLeave()" >
                                    <mat-icon>create</mat-icon>
                                </button>
                                <button mat-icon-button class="icons" (mouseenter) ="mouseEnter()" (mouseleave)="mouseLeave()" (click)="deleteRow(element)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                                <button mat-icon-button class="icons" (mouseenter) ="mouseEnter()" (mouseleave)="mouseLeave()">
                                    <mat-icon>pageview</mat-icon>
                                </button>
                                <button mat-icon-button color="warn" class="icons"(mouseenter) ="mouseEnter()" (mouseleave)="mouseLeave()">
                                    <mat-icon>not_interested</mat-icon>
                                </button>
                            </span>
                </td>
            </ng-container>
            <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                      <div class="example-element-detail"
                           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                        <div class="example-element-diagram">
                          <div class="example-element-position">ID: {{element.id}} </div>
                          <div class="example-element-name">PERIODO: {{element.date_start}} - {{element.date_end}}</div>
                          <div class="example-element-weight">AVANCE: {{element.status}} </div>
                          <div class="example-element-weight">COMPETIDOR: {{element.competitor}} </div>
                        </div>
                        <div class="example-element-description">
                          {{element.description}}
                          <span class="example-element-description-attribution"></span>
                        </div>
                      </div>
                    </td>
                  </ng-container>
                
                  <tr mat-header-row *matHeaderRowDef="columnsToDisplay;sticky: true"></tr>
                  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
                      class="example-element-row"
                      [class.example-expanded-row]="expandedElement === element"  
                      (click)="expandedElement = (expandedElement === element || buttonActivator)  ?  null:  element">
                  </tr>
                  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
    </div>

</div>
