<div fxLayout="column" fxFill>
    <div style="height: 182px;">
        <form [formGroup]="missionForm">
            <div fxLayout="row" fxLayoutAlign="space-around">
                    <mat-form-field fxFlex="95">
                        <input matInput formControlName="id" placeholder="Id de la mision">
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-around">
                    <mat-form-field fxFlex="45">
                        <input matInput formControlName="date_start" [matDatepicker]="picker1" placeholder="Choose a date">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field fxFlex="45">
                        <input matInput formControlName="date_end" [matDatepicker]="picker2" placeholder="Choose a date">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-around">
                        <mat-form-field fxFlex="45">
                            <mat-select placeholder="Competidor" formControlName="competitor">
                                <mat-option value="option">Option</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="45">
                            <mat-select placeholder="Capitan" formControlName="captain">
                                <mat-option value="option">Option</mat-option>
                            </mat-select>
                        </mat-form-field>
                </div>
            </form>
    </div>
    
    <div fxLayout="row" fxLayoutGap="5px" >
        <span class="info" ># seleccioandos</span>
        <span class="info">clase 1</span>
    </div>
    <div class="canasta" fxLayout="row wrap" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start">
           <mat-card class="card-picture" *ngFor="let article of articles">
                <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
                   <span fxFlex="80%">{{article.name}}</span> 
                   <button mat-icon-button color="primary">
                       <mat-icon  fxFlex="15%" (click)="delete(article)">delete</mat-icon>
                   </button>
               </mat-card-title>
               <img mat-card-image src="{{article.picture}}" >
           </mat-card>
           <mat-card class="card-picture" fxLayoutAlign="center center">
                <button mat-icon-button color="primary" class="icons"  ><mat-icon matPrefix  >add_circle_outline</mat-icon></button>
           </mat-card>                    
    </div>
</div>
