<div fxLayout="column" fxFill >
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between center" class="top-container">
                <h1 fxFlexOffset="45">CAPITANES</h1>
                <button mat-icon-button color="primary" class="icons" (click)="newSku()"><mat-icon matPrefix>add_circle</mat-icon></button>
        </div>
        <mat-progress-bar *ngIf="algo==true"></mat-progress-bar>
        <div class="content-table" >
            <table mat-table [dataSource]="captainDataSource" class="board" >
    
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>ID</th>
                    <td mat-cell *matCellDef="let element">{{element.id}}</td>
                </ng-container>
    
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>nombre</th>
                    <td mat-cell *matCellDef="let element">{{element.name}}</td>
                </ng-container>
    
                <ng-container matColumnDef="branch">
                    <th mat-header-cell *matHeaderCellDef>Tienda</th>
                    <td mat-cell *matCellDef="let element">{{element.branch}}</td>
                </ng-container>
    
                <ng-container matColumnDef="misions">
                    <th mat-header-cell *matHeaderCellDef>misiones</th>
                    <td mat-cell *matCellDef="let element">{{element.misions}}</td>
                </ng-container>    
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    
</div>