@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import '~@angular/material/theming';
@include mat-core();
$admin-primary: mat-palette($mat-green);
$admin-accent: mat-palette($mat-green, A700);
$admin-warn: mat-palette($mat-red);

$admin-theme: mat-light-theme($admin-primary, $admin-accent, $admin-warn);

$custom-typography: mat-typography-config(
  $font-family: 'Montserrat'
);

@include angular-material-theme($admin-theme);
@include mat-core($custom-typography);

html, body { height: 100%; }
body { margin: 0; font-family: 'Montserrat', sans-serif !important; }
